// main colors of the project

$white: #ffffff;
$black: #000000;
$turquoise: #00cddb;
$dark-blue: #2b3a67;
$red: #ff0000;

// main mixins of the project
@mixin text-shadow-title {
  text-shadow: 1px 1px 2px #55e7fb, 0 0 1em #106fd4, 0 0 0.2em #1937d8;
}

@mixin box-shadow-main {
  box-shadow: 0px 4px 4px rgba(116, 151, 232, 0.25);
  transition: all 0.2s linear;
}

@mixin box-shadow-main-hover {
  box-shadow: 4px 7px 4px rgb(116 151 232 / 25%);
}

@mixin active-element {
  background-color: #dffdff !important;
}
