.header {
  width: 100%;
  height: 70px;
  background: rgb(0, 219, 206);
  background: linear-gradient(0deg, rgba(0, 219, 206, 1) 0%, rgba(33, 0, 219, 1) 100%);
  box-shadow: 4px 4px 14px 7px rgba(34, 60, 80, 0.11);
  margin-bottom: 80px;
}

.container.header-content {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
  display: flex;
  align-items: center;
}

.logo-img {
  width: 60px;
  height: 60px;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
  border-radius: 50%;
}
.logo-img:hover {
  transition: all linear 0.3s;
  box-shadow: 5px 5px 5px 2px rgb(34 60 80 / 60%);
}

.header-chat {
  display: flex;
  align-items: center;
}

.chat {
  fill: #fff;
  width: 29px;
  height: 24px;
  cursor: pointer;
}

.chat:hover {
  fill: #55e7fb;
}
