@import '../../shared/Variables.scss';

.chat-wrap {
  margin: 0 auto;
  width: 500px;
  height: calc(100vh - 140px);
  background-color: rgba(221, 255, 254, 0.7);
  position: relative;

  .chat-head {
    margin: 0 auto;
    width: 480px;
    @include box-shadow-main;
    height: 50px;
    border-radius: 10px;
    font-family: Ruda;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-blue;
    margin-bottom: 10px;
    @include text-shadow-title;
  }

  .chat-body {
    width: 480px;
    margin: 0 auto;
    height: calc(100vh - 280px);
    @include box-shadow-main;
    background-color: $white;
    border-radius: 10px;

    .chat {
      width: 470px;
      height: 92%;
    }
  }

  .type-message {
    position: absolute;
    top: 85%;
    left: 20px;

    .bubble {
      background-color: rgba(221, 255, 254, 0.7);
      padding: 6px 20px 9px 20px;
      @include box-shadow-main;
    }
  }

  .ellipsis {
    width: 5px;
    height: 5px;
    display: inline-block;
    background: lighten($dark-blue, 25%);
    border-radius: 50%;
    animation: jump 1.3s linear infinite;
    margin-right: 2px;
  }

  .one {
    animation-delay: 0.6s;
  }
  .two {
    animation-delay: 0.5s;
  }
  .three {
    animation-delay: 0.8s;
  }

  .bubble {
    position: relative;
    display: inline-block;
    font-size: 0.7em;
    border-radius: 20px;
  }

  .bottom-bar {
    margin: 0 10px;
    position: absolute;
    width: 480px;
    height: 55px;
    bottom: 10px;
    background: $white;
    border-radius: 0 0 10px 10px;
    @include box-shadow-main;

    .chat-input {
      padding: 3px;
      width: 74%;
      left: 5%;
      position: absolute;
      border: 0;
      top: 10px;
      background: $white;
      color: $turquoise;
    }

    .chat-input::placeholder {
      color: $turquoise;
    }

    .chat-input:focus {
      color: $turquoise;
      outline: 0;
    }

    .chat-button {
      position: absolute;
      border: 0;
      font-size: 1em;
      color: $turquoise;
      top: 13px;
      opacity: 0.8;
      right: 17px;
      cursor: pointer;
      outline: 0;
      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        color: $turquoise;
      }
    }

    .post {
      fill: $turquoise;
      background-color: transparent;
    }

    /*     .chat-button::before {
      content: '\f1d8';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
    } */
  }
}

@keyframes jump {
  30% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
    opacity: 0.5;
  }
}

.message {
  display: flex;
  width: 100%;
  padding-top: 10px;
  align-items: center;
}

.message.right {
  justify-content: end;
}

.message.left {
  margin-left: 10px;
}

.userPic-chat {
  /*  position: absolute; */
  width: 60px;
  height: 60px;
  background-color: #60dabf;
  border-radius: 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 34px;
  line-height: 56px;
  color: $white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.userPic-chat.right {
  margin: 0 0 0 30px;
}

.userPic-chat.left {
  margin: 0 30px 0 0;
}

/* .userPic-chat.right {
  position: absolute;
  left: 415px;
  top: 5px;
} */

.box {
  width: 320px;
  height: fit-content;
  background: #00bfb6;
  padding: 10px;
  text-align: center;
  font-weight: 900;
  font-family: Ruda;
  color: #fff;
  position: relative;
}

.sb1:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 6px;
}

.sb2:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}
